# Build results #
.vs

/SuperLotto/DoubleBall/bin/
/SuperLotto/DoubleBall/obj/
/SuperLotto/SuperLotto/bin/
/SuperLotto/SuperLotto/obj/

/SuperLotto/SuperLotto/bin/Debug/SuperLotto.exe
/SuperLotto/SuperLotto/bin/Debug/SuperLotto.exe
/SuperLotto/SuperLotto/bin/Debug/SuperLotto.pdb
/SuperLotto/SuperLotto/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/SuperLotto/SuperLotto/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SuperLotto/SuperLotto/obj/Debug/SuperLotto.csproj.AssemblyReference.cache
/SuperLotto/SuperLotto/obj/Debug/SuperLotto.csproj.CoreCompileInputs.cache
/SuperLotto/SuperLotto/obj/Debug/SuperLotto.csproj.FileListAbsolute.txt
/SuperLotto/SuperLotto/obj/Debug/SuperLotto.csproj.GenerateResource.cache
/SuperLotto/SuperLotto/obj/Debug/SuperLotto.csproj.Up2Date
/SuperLotto/SuperLotto/obj/Debug/SuperLotto.exe
/SuperLotto/SuperLotto/obj/Debug/SuperLotto.pdb
